*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;  
}

.menu,
.footer{
    height: 50px;
    background-color: black;
    color: white;
}

.menu{
    display: flex;
    align-items: center;
}

.items-menu{
   margin: 0px;
   padding: 10px;
   font-size: 18px;
}

.menu-item{
    color: white;
    padding: 0px 10px;
}

.footer{
    text-align: center;
}

/* Body */

@media (max-width: 290px){
    .menu,
    .footer{
        width: 290px;

    }

    .section-one-text{
        width: 290px;
    }
    
    .section-container img{
        width: 290px;
    }
}

@media (min-width: 290px){
    .section-container img{
        width: 100vw;
    } 
}

@media (max-width: 475px){
    .section-one-text{
        /* width: max(20vw, 100px); */
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .subs-text{
        margin: 15px;
    }  

    .menu{
        justify-content: center;
    }  
}

@media (min-width: 475px) {
    .section-container img{
        width: 100vw;
    }   
}

.section-container{
    height: calc(100vh - (100px));
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}



.background-section{
    background-size: contain;
}

.section-one-text{
    margin: 10px 0px;
    font-size: 20px;
    width: 100%;
    text-align: center;
}

.subscribe-btn{
    background-color: 	rgb(64, 115, 191);

    font-size: 18px;
    padding: 10px 20px;
       
    border-radius: 6px;

    text-align: center;
    display: inline-block;

    transition-duration: 0.4s;
}

.subscribe-btn:hover {
    background-color: rgb(10, 61, 136);
    color: white;

}

/* Subscription */

.form-off{
    display: none;
}

.form-on{
    display: block;
}

.close-btn{
    color: grey;    
}

.subscription-form{
    height: 100%;
    width: 30vw;
    right: 0;
    top: 0;
   
    position: absolute;
    background-color: rgba(44, 42, 42, 0.986);

    display: flex;
    flex-wrap: wrap;
    
    align-items: center
}

.inner-subscription-form{
    margin:30px;
    
}

.inner-subscription-form input{
    width: 100%;
    height: 30px;
    margin: 10px;

}

